<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Restes{% endblock %}</title>
        
        <meta name="description" content="{% block meta_description %}Ne gaspillez plus ! Trouvez des recettes créatives pour cuisiner vos restes.{% endblock %}">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block meta %}{% endblock %}


        {{ importmap('app') }}
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'partials/_navbar.html.twig' %}
        </header>

        
        {% include 'partials/_bottom_nav_mobile.html.twig' %}

        <main id="main-content" role="main">
            {% include 'partials/_flash_messages.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include 'partials/_footer.html.twig' %}
        </footer>

      
        {% include 'partials/_modals_auth.html.twig' %}

       
        {% block javascripts %}{% endblock %}
    </body>
</html>